name: complex_layout
description: A benchmark of a relatively complex layout.

environment:
  # The pub client defaults to an <2.0.0 sdk constraint which we need to explicitly overwrite.
  sdk: ">=2.5.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  # To change the version of the gallery assets, edit
  #   //packages/flutter_tools/lib/src/commands/update_packages.dart
  # and run
  #   flutter update-packages --force-upgrade
  flutter_gallery_assets: 0.2.1


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_driver:
    sdk: flutter
  test: any
  e2e: 0.5.0+1
  gesture_recorder:
    path: ./gesture_recorder
  pedantic: ^1.8.0


flutter:
  uses-material-design: true
  assets:
    - packages/flutter_gallery_assets/people/square/ali.png
    - packages/flutter_gallery_assets/places/india_chettinad_silk_maker.png
    - scrollingRecord.json

